<h1>hi index</h1>
<!-- <table>
  <tbody>
  <thead>
    <tr>
      <th>VOTES</th>
      <th>BRAND</th>
      <th>NAME</th>
      <th>TYPE</th>
    </tr>
  </thead>
  <% @popular.each do |product| %>
    <tr class="product">
      <td>
        <%= product['votes'] %>
      </td>
      <td>
        <%= product['brand'] %>
      </td>
      <td>
        <%= product['name'] %>
      </td>
      <td>
        <%= product['topic_id'] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table> -->

