<h1>Fill Out This Form</h1>

<form action="/products" method="post">
   <div class="input">
     <label for="topic_id">Product Category</label>
      <select name="topic_id" id="topic_id">
        <% topic_list.each do |topic| %>
          <%# pid = @products['topic_id'] %>
          <option value="<%= topic["id"] %>"><%= topic["title"] %></option>
        <%end%>    
      </select>
    </div>
    <div class="input">
      <label for="brand">Brand</label>
      <input type="text" name="brand" id="brand"/>
    </div>
    <div class="input">
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </div>
    <div class="input">
      <label for="dscrp">Description</label>
      <textarea type="text" name="dscrp" id="dscrp"></textarea>
    </div>
    <input type="submit" value="submit">
</form>