<form action="/signup" method="post" accept-charset="utf-8">
  <div class="input login">
    <label for="username">Name:</label>
    <input type="text" name="username" id="username">
  </div>

  <div class="input login">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  
  <div class="input login">
    <input type="submit" name="submit" value="submit" />
    <input type="submit" name="signup" value="signup" formaction="/signup" />
  </div>
</form>