/** Sara's Style Sheet **/

/* Page Elements */
body {
    margin: 0 auto;
}

header h3{
    font-family: salomeregular, serif;
    font-size: 2em;
    display: inline;
}
header h4{
  font-family: Circular, sans-serif;
  font-weight: 400;
  font-size: 1em;
  display:inline;
  float:right;
}
header a {color: white;}
header {
    position:relative;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background: #a8dcdb;
    /*background: #cee0e3;*/
}
h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center
}


h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: 600;
}
p {
    font-size: 19px;
    line-height: 25px;
}
/* Form styling */
form{
  background-color: #fbfaf9;
  padding: 30px;
  border: 1px solid #c69a31;
  max-width: 500px;
  margin: 40px auto;
}
form input{
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  font-size: 1em;
  margin: 10px 0;
}
form input[type=submit]{
  width: 100%;
}
/* Products Table*/

table{
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%,0);
    padding-bottom: 75px;
    border-collapse: collapse;
    font-size: 1.25rem;
    margin: 40px 0 50px 0;
}
table caption{margin-bottom: 20px;}
table h1{
  display: inline;
  border-bottom: 2px solid #c69a31;
}

th, td{padding: 1.5rem}

tr:nth-child(even){background-color: #efefef}

th{
    background: black;
    font-size: 1.5rem; 
    color: white;
}
tr:hover{
background: yellow;
}
td.votes{
    width: 0;
    word-wrap: break-word;
    padding: 0;
}
td.votes div{
    display: block;
}

/* Product Page Styles */
div.product-page{
  border: 2px solid #c69a31;
  width: 400px;
  margin: 40px auto 40px auto;
  padding: 20px;
}
div.product-page div.prod-header h1{
  margin: 0;
}

@media (max-width: 500px) {
    p {
    font-size: 17px;
    line-height: 23px;
    }
    h1 {
        font-size: 36px;
        padding: 5px;
    }
    h2 {
    font-size: 18px;
}
    li {
        padding: 5px;
        display: block;
      }
    
}